body {
	max-width: 80em;
	min-width: 30em;
	margin: 0 auto;
	border: 2px solid black;
	background: linear-gradient(to bottom, #990044 0%, #FFFF00 100%);
}
html {
	background: orange;
}
.mapsvideo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2em;
	margin: 0 auto;
}
.nafn {
	font-size: 9em;
	padding: 0 1em;
}
.fjölskylda {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2em;
}
.fjötxt {
	font-size: 5em;
	padding: 0 1em;
	text-align: center;
}
.myndir2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	column-gap: 2em;
	margin: 0 auto;
}
.myndir2 p {
	font-family: 'Fira Sans', sans-serif;
	font-size: 25px;
	text-align: center;
	background-color: white;
	padding: 10px 20px;
}
.header {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 2em;
	text-align: center;
	margin: auto;
}
.audio {
	padding: 3em;
}
.col-2 {
	font-size: 2em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 2em;
	gap: 2em;
	border: 4px dotted orange;
}
img {
	max-width: 100%;
	max-height: auto;
}